<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>goods</title>
</head>

<body>
    <div id="app">
        <header>
            <form class="form-wrapper">
                <input type="text" id="search" placeholder="Search something..." v-model="searchText">
                <input type="submit" value="find" id="submit" @click.prevent="searchFor()"> </form>
            <button class="cart-button button" type="button" id="basket-btn">Корзина</button>
        </header>
        <main>
            <!--ЗАГРУЗКА ТОВАРОВ-->
            <div class="products">
                <div class="product-item" v-for="product of filteredProducts" :key="product.id_product">
                    <div class="desc">
                        <h3> {{ product.product_name }} </h3> <img :src="img" alt="">
                        <p> {{ product.price }} </p>
                        <button class="buy-btn" @click="addProduct (product)">В корзину</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="goods-list-section" class="goods-list">
        <div id="goods-list-section__modal">
            <input type="submit" value="X" id="goods-list-section__delete" style="float: right">
            <h3 id="goods-list_head-line">Корзина</h3>
            <div id="goods-list__product-box"></div>
            <p id="goods-list__total"></p>
        </div>
    </div>
    <div class="footer"> Copyright © eShop 2020. All Rights Reserved</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>