body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    color: #fafafa;
    padding: 10px 80px;
    background-color: #73B1D6;
}

.logo {
    margin: 20px;
    font-size: 24px;
    font-weight: 100;
}

.cart-button {
    background-color: #8cbbd3;
    border-radius: 10px;
    width: 150px;
    margin: 20px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

header button:active {
    background-color: #5ba1d3;
    color: darkgoldenrod;
}

button:focus {
    outline: none;
}

.footer {
    /* # == id */
    background-color: #434445;
    width: 100%;
    height: 140px;
    text-align: center;
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    line-height: 140px;
}

body .container {
    padding-top: 6px;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}

main .products {
    display: grid;
    background: #f8f8f8;
    padding: 20px;
    grid-gap: 40px;
    grid-template: repeat(2, 410px) / repeat(auto-fit, minmax(294px, 1fr));
    justify-content: space-between;
}

main .product-item {
    width: 200px;
    padding: 10px;
    background-color: #8cbbd3;
    color: #fff;
    box-shadow: 0 0 4px black;
}

main .product-item p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}

.desc {
    border: 1px solid #c0c0c040;
}

.desc h3 {
    margin: 0;
}
.cart{
    position: relative;
}
.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 450px;
}

.invisible{
    display: none;
}
.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.buy-btn, .del-btn{
    margin-top: 5px;
    background-color: #fafafa;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.buy-btn:hover, .del-btn:hover{
    background-color: #434445;
    color:  #fafafa;
    border: 1px solid #2f2a2d;
}
.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
    font-size: 18px;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 15px;
}
.product-single-price{
    color: #474747;
    font-size: 16px;
}
.product-price{
    margin-left: 30px;
}
.product-desc{
    margin: 0;
    max-width: 150px;
}

.product-quantity {
    margin-top: 15px;
    font-size: 14px;
}
.right-block{
    text-align: right;
}
.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}
.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}
